:root {
    --primary: #651551; /* Новый основной цвет */
    /*--primary-fg: #ffad32; !* Новый цвет текста на основном фоне *!*/
    --body-bg: #1c1a19; /* Новый фоновый цвет тела */
    --link-fg: #DFDCD3; /* Новый цвет ссылок */
    --link-hover-color: #aba9a1; /* Новый цвет ссылок при наведении */
    --header-bg: #e9681a;
    --header-link-color: #DFDCD3;
    --selected-row: #360d2c;
    --default-button-bg: #e9681a;
    --body-fg: #eeeeee;
    --body-quiet-color: #e0e0e0;
}
