{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/admin_favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}"/>

    {{ block.super }}
    <script src="{% static 'chat/js/chat.js' %}"></script>

    <div id="chat-box">
        <textarea id="chat-log" disabled></textarea><br>
        <input id="chat__conversation-panel__input" type="text"><br>
        <input id="send-message-button" type="button" value="Отправить">
    </div>
{% endblock %}




